.card-container {
    /* display: flex;
    flex-direction:row; */
    /* margin-left: 2rem; */
    width: 29%;
    height: 42%;
    /* overflow: hidden; */
    box-shadow:0px 0px 15px -5px;
    transition: 0.5s;
    /* animation:ease-in-out; */
    border-radius: 3%;
    
}

.card-container:hover {
    transform: scale(1.03);
    box-shadow:0px 0px 15px 1px;
}

.image-container img {
    overflow: hidden;
    height: 10rem;
}

.card-content {
    margin: 1rem;
    margin-top: 0rem;
}

h3.p {
    margin: 0;
    padding: 0;
}

.card-title {
    margin-bottom: 0rem
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    border-radius:3px;
}

.btn button {
    padding: 0.rrem;
    background-color: #fff;
    border:none;
    transition: 0.2s;
}

.btn button:hover {
    background: rgba(27, 156, 252, 0.1);
    transform: scaleZ(1.4);

}

a {
    text-transform: uppercase;
    color: #189cfc;
    text-decoration:none;
    font-weight:bold;
}

